@font-face {
	font-family: "Domaine Sans";
	src: url(./fonts/DomaineSans_1P25.otf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #7e7f7e;
  color: white;
  font-size: 32px;
  font-family: "Domaine Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


